@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.cvContainer{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, .1);
}
body::-webkit-scrollbar-track {
    max-height:80%;
  
    -webkit-box-shadow: inset 0 0 6px rgba(227, 180, 228, 0.3);
    border-radius: 10px;
    background-color: #fff;
}
  
body::-webkit-scrollbar {
    max-height:80%;
    width: 8px;
    background-color: #fff;
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb {
    max-height:80%;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #003147;
}
.cvRightSide{
    position: relative;
    background: #fff;
    padding: 40px;
}
.cvRLeftSide{
    position: relative;
    background: #003147;
    padding: 40px;
}
.profileContain{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255, 255,.2);
}
.avaContain{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.ava{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name{
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 15px;
}
.jobTitle{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    line-height: 1.4em;
    font-size: 1em;
}
.contact{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact ul{
    position: relative;

}
.contact ul li{
     list-style: none;
     position: relative;
     margin: 10px 0;
}
.icon{
    display: inline-block;
    width: 30px;
    color: #03a9f4;
    font-size: 18px;
}
.text{
    color: #fff;
    font-size: 13px;
}
.contact.edu li{
    margin-bottom: 15px;
}
.contact.edu h5{
    color: #03a9f4;
    font-weight: 500;
}
.contact.edu h4{
    color: #fff;
    font-weight: 300;
}
.contact.edu h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}
.contact.lang .percent{
     position: relative;
     width: 100%;
     height: 6px;
     background: #081921;
     display: block;
     margin-top: 5px;
}
.contact.lang .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.skillName{
    color: #fff;
    font-weight: 300;
}
.objective{
    margin-bottom: 50px;
}
.objective:last-child{
    margin-bottom: 0;
}
.rightTitle{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.cvRightSide p{
    color: #333;
    font-size: 16px; 
}
.box{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.box .pjName{
    min-width: 150px;
}
.box .pjName h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
    font-size: 16px;
    margin-right: 25px;
}
.box #h5Name{
    margin-right: 59px;
}
.box .pjName h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.box .pjName p{
    text-align: justify;
}
.pjName{
    display: flex;
    margin: 10px 0;
}
.html{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: 1px solid #081921;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    background: #e34c26;
    font-size: 14px;
    font-weight: 500;

}
.css{
    border-left: 1px solid #081921;
    border-right: 1px solid #081921;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    background: #2965f1;
    font-size: 14px;
    font-weight: 500;
}
.js{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 1px solid #081921;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    background: #f0db4f;
    font-size: 14px;
    font-weight: 500;
}

.percent{
   
    margin: auto 0;
    display: flex;
    position: relative;
    width: 100%;
    height: 20px;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li {
    list-style: none;
    margin: 10px 0;
}
.interest ul li .text{
    color: #333;
    font-weight: 500;
    font-size: 18px;
}
@media (max-width:1000px){
    .cvContainer{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:600px){
    .box{
        flex-direction: column;
    }
    .box .pjName{
        margin-bottom: 5px;
        flex-direction: column;

    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}